nav#TOC {
  padding: 1em;
  margin-right: 1em;
  overflow: scroll;
  background-color: aliceblue;
  height: 93vh;
  position: sticky;
  top: 8px;
}

nav#TOC .github {
  height: 31px;
  width: 31px;
  transition: background 0.15s
  vertical-align: bottom;
}

nav#TOC .github:hover { 
  background-color: lightgray;
}

nav#TOC .navtitle {
  font-weight: bold;
  font-size: x-large;
}

nav#sitenav {
  
}

