.aside::before {
    content: "\2B50 Aside";
    font-weight: bold;
}

.aside {
    border-style: dotted;
    padding: 1em;
}
dt {
    font-weight: bold;
}

dt::before {
    content: "\1f4dd "; 
}

body {
  display: grid;
  grid-template-columns: 400px 4fr 1fr;
}
.challenge::before {
    content: "\1F3C6  Challenge";
    font-weight: bold;
}

.challenge {
    border-style: dotted;
    padding: 1em;
}
.checklist {
    padding: 1em;
    border-style: dotted;
}

.checklist::before {
    content: "\2705  Checklist";
    font-weight: bold;
}
summary {
    cursor: pointer;
    font-weight: bold;
}
.example {
    padding: 1em;
    border-style: dotted;
}

.example::before {
    content: "\1f680 Example";
    font-weight: bold;
}
.important::before {
    content: "\203c\fe0f  Important!";
    font-weight: bold;
}

.important {
    border-style: dotted;
    padding: 1em;
}
.input .output {
    padding: 1em;
    border-style: dashed;
}

.input::before {
    content: "\2328\fe0f  Input";
    font-weight: bold;
}

.output::before {
    content: "\1f5a8\fe0f  Output";
    font-weight: bold;
    vertical-align: top;
}
kbd {
    border: 2px solid #3a3a3a;
    box-shadow: 2px 2px #3a3a3a;
    font-size: 0.85em;
    line-height: 0.85em;
    display: inline-block;
    font-weight: 600;
    letter-spacing: 0.05em;
    padding: 3px 5px;
    white-space: nowrap;
}
nav#TOC {
  padding: 1em;
  margin-right: 1em;
  overflow: scroll;
  background-color: aliceblue;
  height: 93vh;
  position: sticky;
  top: 8px;
}

nav#TOC .github {
  height: 31px;
  width: 31px;
  transition: background 0.15s
  vertical-align: bottom;
}

nav#TOC .github:hover { 
  background-color: lightgray;
}

nav#TOC .navtitle {
  font-weight: bold;
  font-size: x-large;
}

nav#sitenav {
  
}

.outcomes {
    padding: 1em;
    border-style: dotted;
}

.outcomes::before {
    content: "\2705  Learning outcomes";
    font-weight: bold;
}
.solution {
    display: none;
}

.answerspace {
    padding: 1em;
    border-style: solid;
}

.answerspace::before {
    content: "\1f4dd Your response";
    font-weight: bold;
}
tr.odd {
    background-color: lightgray;
}
.tip::before {
    content: "\1f481\1f3fb  Tip";
    font-weight: bold;
}

.tip {
    border-style: dotted;
    padding: 1em;
}
.warning::before {
    content: "\26a0\fe0f  Warning";
    font-weight: bold;
}

.warning {
    border-style: dotted;
    padding: 1em;
}
